.side-form {
    
   
    display: flex;

}

.side-form > form {
   
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.form-input {
    margin: 10px 0;
    border-radius: 8px;
    padding: 10px 15px;
    border: 1px solid #b9b9b9;
    color: #535353;
    width: 300px;
    height: 45px;
    font-size: 15px;
}

.form-input:focus {
    background-color: #f0f0f0;
    transition: 0.3s;
  }


  .form-input:-webkit-autofill, .form-input:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #ffffff inset;
  
  }
  

  select.form-select {
    margin: 5px 0;
    border-radius: 8px;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #b9b9b9;
    color: #535353;
    width: 300px;
    height: 45px;
    font-size: 15px;
    transition: background 0.25s linear;
    
    cursor: pointer;
 
  }

  select option {
    color:#473d3d;
    padding: 15px;
    text-overflow:none;
    
} 

select option:hover {
    background-color: #535353;
}

  .form-select:hover {
      background-color: #f9f9f9;
  }

  .form-select:focus {
    background-color: #e9e9e9;
    transition: 0.3s;
    box-shadow: 0 0 0 3px -moz-mac-focusring;

    outline: none;
    
  }


 


  @media (max-width: 1300px) 
{

    #content {
        position: relative;
        
    }

    .main-content{
        flex-direction: column-reverse;
    
        height: 50%;
        
    }

    .side-form{
        width: 100%;
     
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
    }
}