@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


* {
    /* margin: 0; */
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    
  }

  body {
      margin: 0;
  }

.nav-header {
  
    min-height: 100%;
    height: 55px;
    background-color: #7530c5;
   
}  

a {
    text-decoration: none;
}



.btn-global {
    padding: 10px 15px;
    width: 320px;
    height: 45px;
    border-radius: 8px;
    border: none;
  
    background-color: #6f3dc0;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    margin: 25px 0 20px;
    cursor: pointer;
    transition: all 0.25s linear;
  }
  
  .btn-global:hover {
    filter: brightness(90%);
    transform: scale(1.03);
  }




#content {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  
    min-height: 830px;
}

.main-content {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  width: 100%;



}



.side-svg {
    
    width: 600px;
    display: flex;
    justify-content: center;

}



.side-svg > img {
    width: 550px;
}



@media (max-width: 1300px) 
{

    .side-svg  {
        position: absolute;
        left: calc(50% - 300px);
        z-index: -1;
        
       

    }


}


@media (max-width: 730px) 
{

    .side-svg {
      left: 0;
      width: 100%;
     
    }

    .side-svg > img {
       display: none;
    }
    
   
}
